//flex
@mixin flex($flex...) {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flexbasis($flexbasis...){
	-webkit-flex-basis: 0;
	flex-basis: 0;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}